<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="StudentDB" 
		     connectionString="Data Source=localhost;Initial Catalog=Student;Integrated Security=True;TrustServerCertificate=True" 
		     providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
