<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="StudentDB" 
		     connectionString="Server=DESKTOP-F2PGMGH\SQLEXPRESS03;Database=Student;Trusted_Connection=True;TrustServerCertificate=True" 
		     providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
